<body>
    <div class="container" onclick="onclick">
         <div class="top"></div>
         <div class="bottom"></div>
         <div class="center">
           <h2>Registrati!</h2><br>
           <div class='input-fields'>
             <input type='text' placeholder='Username' class='input-line full-width' #username>
             <input type='text' placeholder='Name' class='input-line full-width' #name>
             <input type='text' placeholder='Surname' class='input-line full-width' #surname>
             <input type='password' placeholder='Password' class='input-line full-width' #psw>
            </div>
           <div><button (click)="signup(username.value, name.value, surname.value, psw.value)">Registrati</button></div>
           <a routerLink="/login">Torna al Login</a>
           <h2>&nbsp;</h2>
         </div>
     </div>
 </body>